<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <title>Stickyrice</title>
</head>
<body>
  <div>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</div>


  <!-- Include the products showcase view -->
  <!-- Include the style for products showcase view-->
  <%- include('stylecss.ejs') %>
  <%- include('hamburger.ejs') %>
  <%- include('productsdetails.ejs') %>
  <%- include('productinfo.ejs') %>
  <%- include('footer.ejs') %>

</body>
</html>
